h3 {
  padding-bottom: 30px;
}

.todo-container {
  padding: 30px;
  padding-top: 60px;
  min-width: 350px;
  color: #000000;
  text-shadow: 3px 3px 0px white;
}

.add-task-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(241, 229, 160, 0.3) ;
  margin-bottom: 8px;
  padding: 10px;
  border-left: 8px solid #e9e59b;
  transition: all 0.2s ease; /* Smooths the grow and brighten effect */

  /* Horizontal Offset | Vertical Offset | Blur | Spread | Color */
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
}

.task-item:hover {
  transform: scale(1.05); 
  filter: brightness(1.2); 

}

.pixel-textarea {
  flex-grow: 1;
  color: #000000;
  border: 4px solid #e0e0e0;
  padding: 10px;
  font-family: 'Silkscreen', sans-serif;
  font-size: 1rem;
  
  /* This allows the text to wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
  
  /* Disables the user's ability to manually resize the box */
  resize: none; 
  
  outline: none;
  min-height: 60px;
}

/* Ensure the task items also wrap if the saved text is long */
.task-text {
  flex-grow: 1;
  word-break: break-word; /* Forces long words to break and wrap */
  padding-right: 10px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
}


.delete-button{
  background-color:  #E76E55;
  box-shadow: inset -3px -3px 0px 0px #9c3335;
  transition: all 0.2s ease;
}

.add-button {
  background-color: rgb(205, 231, 167);
  box-shadow: inset -3px -3px 0px 0px rgb(139, 182, 74);
  transition: all 0.2s ease;
  margin-left: 0.7rem;
  margin-right: 2rem;

}

.delete-button:active{
  box-shadow: inset 3px 3px 0px 0px #9c3335;
}

.add-button:active {
  box-shadow: inset 3px 3px 0px 0px rgb(139, 182, 74);
}