body {
  background-image: url(./assets/demo4.gif);
  background-size:cover;
  background-position: center;

  cursor: url(), auto;
}


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: #92CD41; /* Match your green button! */
  margin-bottom: 3rem;
  text-shadow: 4px 4px 0px #000;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}